<div class="body">
    <div class="content">
        <div class="image">
            <img src="assets/img/login.jpg" alt="login-picture">
        </div>
        <div class="login_form">
            <div class="login_form_items">
                <h3 class="title">Cambio de contraseña</h3>
                <p class="text-content">Este enlace dejara de estar activo en cuanto usted cambie su contraseña mediante este formulario.</p>
                <form [formGroup]="dataForm" (submit)="submit()">
                    <h3 class="title">Inicio de Sesión</h3>
                    <div class="form-group">
                        <div class="form-input">
                            <div class="input-label"><label for="">Nueva Contraseña</label></div>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                        <div *ngIf="password().invalid && (password().dirty || password().touched)" class="alert alert-danger">
                            <div *ngIf="password().errors.required">
                              Por favor, ingrese una Contraseña.
                            </div>
                            <div *ngIf="password().errors.pattern">
                              Su Contraseña debe tener al menos un digito.
                            </div>
                            <div *ngIf="password().errors.minlength">
                              Su Contraseña debe tener al menos 6 caracteres.
                            </div>
                          </div>
              
                    </div>
                    <div class="buttons">
                        <button [disabled]="dataForm.invalid">Cambiar contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
