<div class="modal">
    <app-form [visible]="myModal" (close)="cerrarModal($event)">
        <!--h2>Agregar Elemento</h2-->
        <!--div class="contenido">
    
        </div-->
    </app-form>
</div>


<div class="title_content section">
    <span class="title_section content">Información de la Pagina Web</span>
    <div class="button content">
        <button (click)="mostrarModal()"><i class="fas fa-plus"></i> Agregar</button>
    </div>
</div>
<div class="section">
    <app-list-info></app-list-info>
</div>