
<div class="container-all">
		<button  *ngIf="isShow" (click)="gotoTop()" name="button" class="arriba">IR ARRIBA</button>
		<div class="content">
		<p class="letter">
 			<span style="color: black">
 			<strong>CONSULTORIA</strong>
 			</span><strong>
 			<span style="color: white">j</span>
 			</strong>
 			<strong>
 			<span style="color: #AB2A3E">HOFFMAN </span>
 			</strong>
 			<strong>
 			<span style="color: white">j</span>
 			</strong>
 			<strong>
 			<span style="color: black">Y </span>
 			</strong>
 			<strong>
 			<span style="color: white">j</span>
 			</strong>
 			<strong>
 			<span style="color: #AB2A3E">BAUER</span>
 			</strong>
		</p>

		<p class="direction">
			{{company.address}}
		</p>

		<p>Telefono:</p>
		<p>{{company.phone}}</p>
		<p>Correo Electrónico:</p>
		<p>{{company.email}}</p>
	    </div>
	   <div class="social">
	    	<a href="{{company.fbLink}}" class="fa fa-facebook" target="_blank"></a>
	    	<a href="{{company.twLink}}" class="fa fa-twitter" target="_blank"></a>
	    	<a href="http://www.whatsapp.com" class="fa fa-whatsapp" target="_blank"></a>
	    	 
	    </div>
	   <div class="rights">
	    	<h2>© 2020 Hoffman y Bauer. Todos los derechos reservados | Allforone | Gestión</h2>
	    </div>
	 
	</div>
  
