<div class="container-all">
		<button name="button" class="arriba">IR ARRIBA</button>
		<div class="content">
		<p class="letter">
 			<span style="color: black">
 			<strong>CONSULTORIA</strong>
 			</span><strong>
 			<span style="color: white">j</span>
 			</strong>
 			<strong>
 			<span style="color: #AB2A3E">HOFFMAN </span>
 			</strong>
 			<strong>
 			<span style="color: white">j</span>
 			</strong>
 			<strong>
 			<span style="color: black">Y </span>
 			</strong>
 			<strong>
 			<span style="color: white">j</span>
 			</strong>
 			<strong>
 			<span style="color: #AB2A3E">BAUER</span>
 			</strong>
		</p>
		<p class="direction">
			Lima, Direccion de la Consultoria u otro Local
		</p>
		<p>Telefonos:</p>
		<p>999999999 - 999999999</p>
		<p>Correos Electrónicos:</p>
		<p>admin1@gmail.com  admin2@gmail.com</p>
	    </div>
	    <div class="social">
	    	<a href="http://www.facebook.com">enlace</a>
	    	<a href="http://www.twitter.com">enlace</a>
	    	<a href="http://www.whatsapp.com">enlace</a>
	    	
	    </div>
	    <div class="rights">
	    	<h2>© 2020 Hoffman y Bauer. Todos los derechos reservados | Allforone | Gestión</h2>
	    </div>
	
	</div>