<header class="header" [ngClass]="{secundario: estaCheckeado}">
    <a href="/" class="logo" >CONSULTORIA HOFFMAN & BAUER</a><a href="/" class="logo2">CONSULTORIA  H & B</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" (change)="estaCheckeado = !estaCheckeado " />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
        <li><a href="#bane" class="foc">INICIO</a></li>
        <li><a href="#contenido" class="foc">AREAS LEGALES</a></li>
        <li><a href="#do" class="foc">CONTACTO</a></li>
        <li><a href="#forget" class="foc">NOTICIAS</a></li>
        <li><a href="#" class="foc-lang">Español 
            <span class="arrow arrowDown"  [ngClass]="{secundarioarrow: estaCheckeado}" ></span>
            <!--<input class="menu-lang" type="checkbox" id="menu-lang"> -->
            <!--<label class="menu-lang-icon" for="menu-lang"><span class="nav-lang-icon"></span></label>-->
        </a>
            <ul class="sublang" [ngClass]="{secundariosublang: estaCheckeado}">
                <li><a href="#">Español</a>  </li>
                <li><a href="#">Ingles</a>  </li>

            </ul>  
        
        </li>
        
    </ul>
</header>
<section class="banner">
<div class="banner-content">
<h1> NORA Y ASOCIADOS</h1>
<h1> BRINDAMOS CONSULTORIA EN UNA VARIEDAD DE ÁREAS LEGALES</h1>
<a href="#">Ver Video</a>
</div>

</section>

