<div class="search">
    <label class="label_buscar">Buscar</label>  <input class="input" type="text" [(ngModel)]="title" (input)="Search()" placeholder="Ingrese su búsqueda"/>
  </div>
  <div class="table_size">
    <table id="table">
      <tr>
        <th *ngFor = "let header of listHeaders">
          {{header}}
        </th>
      </tr>
      <tr *ngFor ="let area of list | paginate: { itemsPerPage: 7, currentPage: actualPage} ;let count=index;">
        <td>
          {{count+1+((actualPage-1)*7)}}
        </td>
        <td>
          {{area.titulo}}
        </td>
        <td>
          {{area.fecha}}
        </td>
        <td>
          {{area.hora}}
        </td>
        <td>
          <i class="far fa-edit action-icon" (click)='openFormEdit(area)'></i>
          <i class="far fa-trash-alt action-icon" (click)='deleteArea(area.$id)'></i>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="pagination_control">
    <pagination-controls class="pagination" (pageChange)="actualPage = $event"></pagination-controls>
  </div>
  