<div class="search">
    <label class="label_buscar">Buscar</label>  <input class="input" type="text" [(ngModel)]="title" (input)="Search()" placeholder="Ingrese su búsqueda"/>
  </div>
  <div class="table_size">
    <table id="table" class="table">
      <thead>
        <tr>
          <th class="cell header number">#Nro</th>
          <th class="cell header">Título</th>
          <th class="cell header">Fecha</th>
          <th class="cell header">Hora</th>
          <th class="actions cell header">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="body" *ngFor ="let area of list | paginate: { itemsPerPage: 10, currentPage: actualPage} ;let count=index;">
          <td class="cell number" data-label="#Nro">
            {{count+1+((actualPage-1)*10)}}
          </td>
          <td class="cell" data-label="Título">
            {{area.titulo}}
          </td>
          <td class="cell" data-label="Fecha">
            {{area.fecha}}
          </td>
          <td class="cell" data-label="Hora">
            {{area.hora}}
          </td>
          <td class="actions cell" data-label="Acciones">
            <i class="far fa-edit action-icon" (click)='openFormEdit(area)'></i>
            <i class="far fa-trash-alt action-icon" (click)='deleteArea(area.$id,area.imagenUrl)'></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="paginaton_position">
    <pagination-controls class="pagination" (pageChange)="actualPage = $event" previousLabel="" nextLabel=""></pagination-controls>
  </div>
  