<table id="table">
  <tr>
    <th *ngFor = "let header of listHeaders">
      {{header}}
    </th>
  </tr>
  <tr *ngFor ="let info of listInfo | paginate: { itemsPerPage: 2, currentPage: actualPage} ;let count=index">
    <td>
      {{count+1}}
    </td>
    <td>
      {{info.titulo}}
    </td>
    <td>
      {{info.fecha}}
    </td>
    <td>
      {{info.hora}}
    </td>
    <td>
      <span class="button is-small btn-danger" (click)='deleteInfo(info.$id)'>Delete</span>
      <span class="button is-small btn-danger" (click)='updateInfo()'>Update</span>
    </td>
  </tr>
</table>
<pagination-controls (pageChange)="actualPage = $event"></pagination-controls>

