<div class="user_info">
    <h3>ADMIN <span class="special_text">H&B</span></h3>
    <img class=".user_profile" src="./assets/img/user.png" alt="Perfil de Usuario">
    <h4>User Full Name</h4>
    <h4 class="special_text">User Role</h4>
</div>

<div class="menu">
    <ul class="nav flex-column mb-0">
        <li class="">
            <a [routerLink]="['info']" class="nav-item nav-link text-light bg-red" routerLinkActive="active">
                <span><i class="fas fa-file left_float"></i>Información<i class="fas fa-angle-right rigth_float "></i></span>
            </a>
        </li>

        <li class="">
            <a [routerLink]="['users']" class="nav-item nav-link text-light bg-red" routerLinkActive="active">
                <span><i class="fas fa-user-alt left_float"></i>Cuentas de Usuario<i class="fas fa-angle-right rigth_float "></i></span>
            </a>
        </li>

        <li class="">
            <a [routerLink]="['legal-areas']" class="nav-item nav-link text-light bg-red" routerLinkActive="active">
                <span><i class="fas fa-book-open left_float"></i>Areas Legales<i class="fas fa-angle-right rigth_float "></i></span>
            </a>
        </li>

        <li class="">
            <a [routerLink]="['requests']" class="nav-item nav-link text-light bg-red" routerLinkActive="active">
                <span><i class="fas fa-clipboard-list	 left_float"></i>Solicitudes<i class="fas fa-angle-right rigth_float "></i></span>
            </a>
        </li>

        <li class="">
            <a [routerLink]="['news']" class="nav-item nav-link text-light bg-red" routerLinkActive="active">
                <span><i class="fas fa-book	 left_float"></i>Noticias<i class="fas fa-angle-right rigth_float "></i></span>
            </a>
        </li>

        <li class="">
            <a [routerLink]="['contact']" class="nav-item nav-link text-light bg-red" routerLinkActive="active">
                <span><i class="fas fa-phone-alt left_float"></i>Contacto<i class="fas fa-angle-right rigth_float "></i></span>
            </a>
        </li>

        <li class="">
            <a href="https://analytics.google.com/analytics/web/" target="_blank" class="nav-item nav-link text-light bg-red" routerLinkActive="active">
                <span><i class="fas fa-chart-line left_float"></i>Google Analytics<i class="fas fa-angle-right rigth_float "></i></span>
            </a>
        </li>
        
    </ul>
</div>