:host {
    .modal {
        border-top: 1px groove #6a6a6a3a;
        width: 100%;
        height: 100%;
        float: center;
        z-index: 100;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(255, 255, 255, .1);
    }
    .container {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            height: 100%;
            padding-top: 1.5rem;
            padding-left: 1rem;
            padding-right: 2rem;
            background-color: #fff;
            box-sizing: border-box;
    }
    @media (max-width:1300px){
        .container {
            padding-left: 0rem;
            padding-right: 1rem;
            border-top: none;
        }
    
    }
    @media (max-width:900px){
        .container {
            padding-right: 1rem;
        }
    
    }
    
    .modalContent {
        form{            
            .form-group{
                padding: 1em 1em ;
                box-sizing: border-box;
                display: flex;
            }
            .derecha{
                padding: 1em 1em ;
                display: flex;
                flex-direction: row-reverse;
            }
            label{
                flex-grow: 1;
            }
            .imagenDragDrop{
                float: right;
                width: 80%;
                padding: 1em;
                box-sizing: border-box;
                margin-left: 5px;
                border: 2px dashed #ccc;
                color: black;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                outline: none;  
                text-align: center;
            }
            .imagenDragDrop:hover{
                border: 2px dashed #ab2a3dbd;
            }
            .inputItem, .ckeditor{
                float: right;
                width: 80%;
                padding: 0.5em;
                box-sizing: border-box;
                margin-left: 5px;
                border: 2px solid #ccc;
                color: black;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                outline: none;
            }
            .inputItem[type=text]:hover{
                border: 3px solid #ab2a3dbd;
            }
            .inputItem[type=text]:focus{
                border: 3px solid #ab2a3dbd;
            }
            .inputItemCKeditor{
                box-sizing: border-box;
                margin-bottom: 1rem;
                border: 1px solid #ccc;
                float: right;
                width: 80%;
                margin-left: 5px;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                outline: none;
            }
            .inputItemCKeditor:hover{
                border: 3px solid #ab2a3dbd;
            }
            textarea{
                resize: vertical;
                min-height: 60px;
                max-height: 600px;
            }
            button{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                padding: 1em;
                margin-left: 1em;
                //margin-top: 1em;
                width: 15%;
                background-color: #AB2A3E;
                color: white;
                border-radius: 10px;
                border: 1px solid #AB2A3E;
                min-width: 100px;
                cursor:pointer;
            }

            button:hover{
                background-color: white;
                color: #AB2A3E;
                border-radius: 10px;
                border: 1px solid #AB2A3E;
                
            }
            button:disabled{
                background-color:#DA8895;
                border: 1px solid #DA8895;
            }


            button:disabled:hover{
                color: white;
            }
            @media (max-width:800px){
                .form-group{
                    display: block;
                }
                .inputItem, .ckeditor{
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
                .inputItemCKeditor{
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
                .imagenDragDrop{
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
            @media (max-width:600px){
                .derecha{
                    display: block;
                    
                }
                button{
                    width: 100%;
                    margin-bottom: 1rem;
                    padding: 1em;
                    margin-left: 0em;
                }
            }
            
        }
    }
    .modalHeader {
        position: relative;
        h2,h5 {
            margin: 1rem;
        }
        span {
            
            &:hover {
                color: #AB2A3E;
                cursor:pointer;
            }
        }
    }

    .alert-danger{
        font-size: 0.8em;
        color: red;
        padding-right: 1em;
        display: flex;
        flex-direction: row-reverse;
        text-align: justify;
    }
}