
	<div class="container-all">
		
		<img id="image" src="./assets/img/nuestroE.jpg" />

		<div class="container">
		<input type="radio" id="1" name="image-slide" hidden/>
		<input type="radio" id="2" name="image-slide" hidden/>
		<input type="radio" id="3" name="image-slide" hidden/>
		<input type="radio" id="4" name="image-slide" hidden/>
		<input type="radio" id="5" name="image-slide" hidden/>
		<div class="slide">
			<div class="item-slide" *ngFor="let info of list">
			
				  <div class="description">
                    <h1 class="title_description">{{info.titulo}}</h1>
                    <p>{{info.contenido}}</p>
                </div>
			</div>
		
			
		</div>
		<div class="pagination">
			<label class="pagination-item" for="1">
				<img src="images/img1.jpg">
			</label>
			<label class="pagination-item" for="2">
				<img src="images/img2.jpg">
			</label>
			<label class="pagination-item" for="3">
				<img src="images/img3.jpg">
			</label>
			<label class="pagination-item" for="4">
				<img src="images/img1.jpg">
			</label>
			<label class="pagination-item" for="5">
				<img src="images/img2.jpg">
			</label>
		</div>
	    </div>
	</div>
