<div class="modal" *ngIf="visible.event">
  <div class="container">
    <div>
      <div class="modalHeader">
        <ng-content select="h2"></ng-content>
        <span (click)="closeModal()"><i class="fas fa-times	"></i></span>
      </div>
      <div class="modalContent">
        <form [formGroup]="dataForm" (submit)="submit()">
         

          <div class="form-group">
            <div class="form-input">
              <div class="input-label"><label for="receptor">Correo: </label></div>
              <input type="text" class="form-control" id="receptor" formControlName="receptor" [value]="getRequest()">
            </div>
            <!--div *ngIf="receptor().invalid && (receptor().dirty || receptor().touched)" class="alert alert-danger">
              <div *ngIf="receptor().errors.required">
                El correo electronico es necesario.
              </div>
              <div *ngIf="receptor().errors.receptor">
                Correo electronico no valido.
              </div>
            </div-->
          </div>

          <div class="form-group">
            <div class="form-input">
              <div class="input-label"><label for="message">Mensaje: </label></div>
              <textarea type="text" class="form-control" id="message" formControlName="message" >
              </textarea>
            </div>
            <div *ngIf="message().invalid && (message().dirty || message().touched)" class="alert alert-danger">
              <div *ngIf="message().errors.required">
                El campo es necesario.
              </div>
            </div>
          </div>
          <div class="buttons">
            <button type="button" (click)="closeModal()" >Cancelar</button>
            <button type="submit" [disabled]="dataForm.invalid" >Enviar</button>
          </div>      
        </form>
      </div>
    </div>
  </div>
</div>