.content_bar{
    padding: 0.5em 0.5em;
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: content-box;
    font-size: 1.75ch;
    display: flex;
    align-items: center;
}
button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    border-radius:  10px;;
    background-color: white;
    border: 1px solid #AB2A3E;
    padding: 0.75em 0.75em;
    font-size: 1.5ch;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
    background-color: #AB2A3E;
    color: white;
}

button:focus{
    background-color: #AB2A3E;
    color: white;
}

.line {
    display: inline;
    margin: 1%;
}
.user_info img{
    height: 20px;
    border-radius: 50%;;
    border: 1px solid black;
    margin: 5px;;
}
.user_info{
    display: flex;
    align-items: center;


}
.menu{
    display: none;
}
.menu-bar{

    display: none;
}
@media (max-width:850px){
    .menu-bar{

        display: block;
    }
}