
<app-popup-areas *ngIf="activar" [area]="area" (apagar)='apagarEmergente($event)' ></app-popup-areas>
<div style="text-align:center">
  
  <h1>
    Areas Legales
  </h1>
  <h2> Aprenda mas sobre las areas que practicamos y los servicios que ofrecemos</h2>
  <owl-carousel-o [options]="customOptions">
  
    <ng-template carouselSlide *ngFor="let area of listArea">
      <app-tarjeta [area]="area" (salida)='recibirData($event)' ></app-tarjeta>
      
    </ng-template>  
    
  </owl-carousel-o>
</div>

