<app-header></app-header>
<app-home></app-home>
<app-write-us></app-write-us>

<app-info></app-info>
<app-legal-areas></app-legal-areas>

<!--app-one-new></app-one-new-->
<app-contac></app-contac>
<section class = "grid-image">
    <div class="item-hide-small">
        <img src="/assets/img/2052.jpg" alt="fondo1">
    </div>
    <div class="item-hide-small">
        <img src="/assets/img/2290.jpg" alt="fondo2">
    </div>
    <div class="item-c">
        <img src="/assets/img/6639.jpg" alt="fondo3">
    </div>
    <div class="item-d">
        <img src="/assets/img/6879.jpg" alt="fondo4">
    </div>
    <div class="layout-super"> 
        <div class="color-secundary">INTEGRIDAD</div>
        <div class="color-normal">Y</div>
        <div class="color-primary">COMPROMISO</div>
    </div>
</section>
<app-footer></app-footer>
