/*Contenido centrado y margen*/
*{
	background:#1F4D56;
}
	body{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	background:green;
	
}
/* ajuste general de imagenes*/
img{
	max-width: 100%;
}
.description{
	 padding-left: 30px;
	 padding-right: 70px;
}
.title_description{
    text-decoration: underline;
    color:black;
}
/**/
.container-all{
	position: relative;
	max-width: 1000px;
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
	background: #1F4D56;
}
/*Contiene cada una de las iamgenes que tenemos*/
.slide{
	/*Coloca las tres imagenes en un fila*/
	display: flex;
	transform: translate3d(0,0,0);
	transition: all 600ms;
	animation-name:autoplay;
	/*Duracion entre imagenes*/
	animation-duration: 6.5s;
	animation-direction: alternate;
	/*animacion que comienza al principio*/
	animation-fill-mode: forwards;
	/*animacion infinita*/
	animation-iteration-count: infinite;
}
/*Posicionar bien las imagenes*/
.item-slide{
	  width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
     
}
.item-slide :nth-child(2){
  
    color: #fff;
}
.item-slide > img{
width: 400px;
padding-left: 30px;
}
.item-slide > div{
width: 40%;
}
.item-slide h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    font-family:'trabuchet ms'
}

/*indica los botoncitos de abajo*/
.pagination{
	position: absolute;
	bottom: 20px;
	left:0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
/*forma de botones de paginacion*/
.pagination-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border:3px solid white;
	width: 16px;
	height: 16px;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	background: rgb(0,0,0);
	margin: 0 10px 30px 10px;
	text-align: center;
	transition: all 300ms;
}
/*cada uno de los cuadros a pasar con el cursos crecera*/
.pagination-item:hover{
	transform: scale(2);
}


.pagination-item img{
	display: inline-block;
	max-width: none;
	height: 100%;
	transform: scale(1);
	opacity: 0;
	transition: all 300ms;
}
.pagination-item:hover img{
	transform: scale(1);
}

/*al precionar un boton ya no habra animacion*/
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
/*al pulsar donde estemos se quede en blanco*/
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}
/*al precionar un boton ya no habra animacion*/
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
/*al pulsar donde estemos se quede en blanco*/
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

/*Responsividad*/
@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
