body{
    font-family: "Lato";
    font-size: 100%; 
    overflow-y: scroll; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
    background-color: #fefefe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: auto; 
    padding: 0;
}

.side_bar{
    position: fixed;
    width: 33.3333%;
    width: 17em;
    height: 100%;
    top: 0;
    left: 0;
    overflow:auto;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
    align-content: center;
    border-right: 1px #DADADA solid;
}

.menu_bar{
    float: right;
    position: relative;
    text-align: right;
    width: 37%;
}
.content{
    margin-left: 17em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.element{
    display: block;
}
.site_name{
    font-size: 3ch;
    margin: 0.5em;
    top: 1em;

}