body{
    font-family: "Lato";
    font-size: 100%; 
    overflow-y: scroll; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
    background-color: #fefefe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: auto; 
    padding: 0;
}

.side_bar{
    position: fixed;
    width: 17em;
    height: 100%;
    top: 0;
    left: 0;
    overflow:auto;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
    align-content: center;
    border-right: 1px #DADADA solid;
}

.menu_bar{
    /*float: right;*/
    align-items: stretch;
    position: relative;
    display: flex;
    /*right: 0;
    text-align: right;    
    display: table-cell;*/
    width: 100%;
    /*padding-right: 4rem;*/
    display: block;
}
.hijo{
    /*display: block;*/
    /*height: 4em;*/
    /*margin-left: auto;*/
    margin-top: 1rem;
}

.site_content{
    padding-top: 1.5rem;
    margin-top:1rem;
    /*background-color: #ECECEC;*/
    margin-left: 17em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    
}
.header{
    /*background-color: #ffffff;*/
    margin-left: 17em;
    margin-right: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
 
}
.element{
    display: block;
}
.site_name{
    font-size: 3ch;
    margin: 0.5em;
    top: 1em;

}
.openMenu{
    visibility: hidden;   
    margin-top: 1rem;
    margin-left: 1rem;
}
.collapse{
    display: block;
}

@media (max-width:1300px){
    .side_bar{
        width: 5em;
    }
    .site_content{
        margin-left: 10%;
        
    }
    .header{
        margin-left: 10%;
        margin-right: 5%;
    }

}
@media (max-width:850px){
    .side_bar{
        width: 0px;
        display: none;
    }
    .site_content{
        margin-left: 4%;
        
    }
    .header{
        margin-left: 4%;
        margin-right: 4%;
    }
    .openMenu{
        visibility: visible;
        background: white;
        border-radius: 8px;
    }
    .collapse{
        display: block;
    }
    .iconoo{
        padding: 0.5em;
    }

    
}
