<div class="search">
    <label class="label_buscar">Buscar</label>  <input class="input" type="text" [(ngModel)]="search_value" (input)="search()" placeholder="Ingrese su búsqueda"/>
</div>
<table id="table" class="table">
    <tr>
        <td class="cell header number">#Nro</td>
        <td class="cell header">Nombre Completo</td>
        <td class="actions cell header">Acciones</td>
    </tr>

    <tr class="body" *ngFor ="let user of list | paginate: { itemsPerPage: 20, currentPage: actualPage}; let count=index">
        <td class="cell number">{{ count+1 }}</td>
        <td class="cell">
            {{user.fullname}}
        </td>
        <td class="actions cell">
            <i class="far fa-edit action-icon" (click)='update(user)'></i>
            <i class="far fa-trash-alt action-icon" (click)='deleteUser(user.$id)'></i>
        </td>
    </tr>  
</table>
<div class="paginaton_position">
    <pagination-controls class="pagination" (pageChange)="actualPage = $event" previousLabel="" nextLabel="">
    
    </pagination-controls>
</div>
