<div class='noticia-uno'>
    <div class="contenido">
        <h1>
            <u> Titulo </u>
        </h1>
        <h3>
            Lorenzo N, 26 de Junio 2020
        </h3>
        <div class='img-noticia-uno'>
            <img src="assets/img/nuestroE.jpg"  alt="Imagen noticia" >
        </div>   
        <img >
        <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque nobis nisi similique? Odio atque vitae quidem magni amet nulla quae inventore quod ipsum assumenda, omnis rerum error officia delectus!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur vitae, maiores at quo alias quisquam, suscipit fuga assumenda temporibus consectetur asperiores eos cumque doloribus porro a eveniet molestias nulla magnam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aliquid, officia numquam nulla velit eius veritatis laudantium, alias earum consequuntur quasi voluptas sed quisquam nam optio at sequi quo repellat.
        </h4>
    </div>
    

</div>

